<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>LoggingServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.webservices.ecommerce.web.servlets.LoggingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.webservices.ecommerce.web.servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.webservices.ecommerce.web.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>edu.ucla.library.libservices.webservices.ecommerce.web.servlets.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggingServlet</servlet-name>
    <url-pattern>/loggingservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/paymentservlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>uri.base</param-name>
    <param-value>https://webservices.library.ucla.edu</param-value>
    <!--param-value>https://webservices-test.library.ucla.edu</param-value-->
  </context-param>
  <context-param>
    <param-name>uri.patron</param-name>
    <param-value>/invoicing/patrons/by_uid/</param-value>
    <!--param-value>/invoicing-dev/patrons/by_uid/</param-value-->
    <!--param-value>/invoicing-test/patrons/by_uid/</param-value-->
  </context-param>
  <context-param>
    <param-name>uri.invoice</param-name>
    <param-value>/invoicing/invoices/unpaid_invoices/</param-value>
    <!--param-value>/invoicing-dev/invoices/unpaid_invoices/</param-value-->
    <!--param-value>/invoicing-test/invoices/unpaid_invoices/</param-value-->
  </context-param>
  <context-param>
    <param-name>uri.pdf</param-name>
    <param-value>/invoicing/invoices/display_invoice/</param-value>
    <!--param-value>/invoicing-dev/invoices/display_invoice/</param-value-->
    <!--param-value>/invoicing-test/invoices/display_invoice/</param-value-->
  </context-param>
  <context-param>
    <param-name>alma.key</param-name>
    <param-value>l8xx8cb982c2d4b04ef79375f5c776dbae71</param-value>
  </context-param>
  <context-param>
    <param-name>alma.base.fees</param-name>
    <param-value>https://api-na.hosted.exlibrisgroup.com/almaws/v1/users/</param-value>
  </context-param>
  <context-param>
    <param-name>alma.resource.fees</param-name>
    <param-value>/fees?status=ACTIVE&amp;apikey=</param-value>
  </context-param>
  <context-param>
    <param-name>uri.cashnet</param-name>
    <param-value>/invoicing/invoices/cashnet_invoice/</param-value>
    <!--param-value>/invoicing-dev/invoices/cashnet_invoice/</param-value-->
    <!--param-value>/invoicing-test/invoices/cashnet_invoice/</param-value-->
  </context-param>
  <context-param>
    <param-name>key.one</param-name>
    <param-value>5535A0BC14</param-value>
  </context-param>
  <context-param>
    <param-name>key.two</param-name>
    <param-value>D55CDF30293C5EDCBD9A</param-value>
  </context-param>
  <context-param>
    <param-name>uri.logging</param-name>
    <param-value>/invoicing/logging/add_log</param-value>
    <!--param-value>/invoicing-dev/logging/add_log</param-value-->
    <!--param-value>/invoicing-test/logging/add_log</param-value-->
  </context-param>
  <context-param>
    <param-name>uri.payment</param-name>
    <param-value>/invoicing/payments/full_payment</param-value>
    <!--param-value>/invoicing-dev/payments/full_payment</param-value-->
    <!--param-value>/invoicing-test/payments/full_payment</param-value-->
  </context-param>
  <context-param>
    <param-name>uri.receipt</param-name>
    <param-value>/invoicing/payments/receipt/</param-value>
    <!--param-value>/invoicing-dev/payments/receipt/</param-value-->
    <!--param-value>/invoicing-test/payments/receipt/</param-value-->
  </context-param>
  <context-param>
    <param-name>cashnet.ip.one</param-name>
    <param-value>63.144.247.36</param-value>
    <!--param-value>66.111.104.148</param-value-->
  </context-param>
  <context-param>
    <param-name>cashnet.ip.two</param-name>
    <!--param-value>67.208.47.14</param-value-->
    <param-value>208.47.84.36</param-value>
  </context-param>
  <context-param>
    <param-name>datasource.invoice</param-name>
    <param-value>jdbc/billDS</param-value>
  </context-param>
  <context-param>
    <param-name>upload.local</param-name>
    <param-value>upload</param-value>
  </context-param>
  <context-param>
    <param-name>upload.remote</param-name>
    <param-value>payments</param-value>
  </context-param>
  <context-param>
    <param-name>keyfile.path</param-name>
    <param-value>upload/aeon-private-dsa.ppk</param-value>
  </context-param>
  <context-param>
    <param-name>sftp.host</param-name>
    <param-value>aeon-sftp.library.ucla.edu</param-value>
  </context-param>
  <context-param>
    <param-name>sftp.user</param-name>
    <param-value>aeon</param-value>
  </context-param>
  <context-param>
    <param-name>user.logging.cashnet</param-name>
    <param-value>ecommerce</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/pdfservlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/billDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
